body{
    height: 100vh;
    margin: 0; 
    padding: 0;
}

#form {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.image-side {
    flex: 0 0 25%;
    border: 10px solid red;
    min-width: 0;
    flex-shrink: 1;
    overflow: hidden;

    position: relative; /*this is necessary for position: absolute in the child*/
}

.left-image {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.container .logo-content {
    flex: 0 0 100%;
    position: absolute; /* like over here ^*/
    
    background-color: rgb(0, 0, 0, 0.5);
    top: 0;
    
    width: 100%;
    color: #f1f1f1;
    padding: 1em;
}


.form-side {
    flex: 0 0 75%;
    border: 10px solid blue;
    min-width: 0;
    flex-shrink: 1;
}